body{
    color:#624a44;
}
#coursesDiv{
    background-color: #f8f6f2;
}
#shield{
    height:400px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#logo{
    display: block;
    height:100px;
    margin:20px auto 20px auto;
}
#footerRow{
    background-color:#624a44;
    
}
#coursesTitle{
    font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
    font-size:80px;
    text-align:center;
    text-shadow: 3px 3px 6px #f8f6f2;
}
#myName{
    font-family: "Fraunces", serif;
      font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
    font-size:50px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px 6px #f8f6f2;
}
#subtitle{
    ont-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.course{
    border-color: white;
}
.courseRow{
    height:200px;
}
h3{
    font-family: 'Open Sans', sans-serif;
}
h6{
    font-family: 'Gentium Basic', serif;
    font-size:18px;

}
.courseImg{
    width:100px;
}
.modal{
    color:#00144d;
    font-family: 'Open Sans', sans-serif;
}
.modal button{
    background-color: #f8f6f2;
    color:624a44;
}
.modalTrigger{
    color:#f8f6f2;
    font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
    float:right;
    opacity: 0.95;
    border:2px solid #C0C0C0;
    text-shadow: 0.5px 0.5px 1px #000c2e;
}
.modal-title{
    font-size:35px;
}
.modal-body{
    font-size:18px;
    text-align:justify;
}
